<mat-toolbar color="accent">

  <span>
    <a routerLink="/" >Power Monitoring</a>
  </span>
  <span class="spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu">@KMUTNB</button>
  <mat-menu #menu="matMenu">
    <button routerLink="/login"mat-menu-item *ngIf="!userIsAuthenticated" >Login</button>
    <button routerLink="/signup" mat-menu-item *ngIf="!userIsAuthenticated">SignUp</button>
    <button (click)="onLogout()" mat-menu-item *ngIf="userIsAuthenticated">Logout</button>
  </mat-menu>


</mat-toolbar>



